<% include header.ejs %>
<div class="container mar-bom">
    <h1 class="text-center bold" onclick="window.location.href='/back'"><%= title %></h1>
    <div class="col-md-4 col-md-offset-5">
        <button class="btn btn-danger" type="button"  onclick="window.location.href='/back'">Back to Main Page</button>
    </div>
</div>
<% include footer.ejs %>